<style>
    body {
        font-family: 'Copperplate', Fantasy;
        margin: 0;
        padding: 0;
        background-color: #BCD4D0;
        color: #244244; /* Text color */
    }
    .container {
        width: 1000px; /* Adjusted width for better readability */
        margin: 80px auto; /* Center the container horizontally */
        background-color: #F2EEED; /* Container background color */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        color: #F29B72; /* Heading color */
    }
    p {
        line-height: 1.6;
        color: #666;
    }
    a {
        padding: 10px;
        text-align: center;
        background-color: #E6CAC7; /* Link background color */
        color: #244244; /* Link text color */
        border: none;
        cursor: pointer;
    }
</style>
