body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7BAFD4; /* UNC Chapel Hill Blue */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#checkInForm, #dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    color: #7BAFD4; /* UNC Chapel Hill Blue */
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#dashboard {
    display: none;
}

#chartContainer {
    margin-top: 20px;
}

#wellnessTips, #resourcesNearby, #communitySupport {
    margin-top: 20px;
    color: #333;
}
