body {
    font-family: 'Copperplate', Fantasy;
    margin: 0;
    padding: 0;
    background-color: #BCD4D0;
    color: #244244;
}
.center {
    text-align: center;
    }

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #F2EEED;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#checkInForm, #dashboard {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #E6CAC7;
    color: #244244;
    border: none;
    cursor: pointer;
}

label, input, textarea {
    display: block;
    margin: 10px 0;
}

textarea {
    width: 100%;
    height: 80px;
    resize: vertical;
}

#dashboardContent, #wellnessTips, #communitySupport, #otherDashboardData {
    margin-top: 20px;
    background-color: #F2EEED;
    padding: 10px;
    border-radius: 8px;
}

h2 {
    color: #F29B72;
}

a {
    padding: 10px;
    background-color: #E6CAC7;
    color: #244244;
    border: none;
    cursor: pointer;
}
